/*Dummy class for use in translation files to getting a selector of trunslated text*/
.dummy{}

/*Menu-Settings*/
#accessToModules > div > table > tbody > tr.treegrid-58.treegrid-collapsed > td > span:nth-child(4) > span {
	margin: 0px;
	}
/*login screen*/
#pbxlogin-form > div > div.panel-body > div.form-group.form-group-custom.form-group-userid > div {
	margin-bottom: 0px;
	}

/*Admin-User Profiles*/
#aside-navigation > li:nth-child(3) > a > span {
	margin-left: -9px
	}

/* Align functions name and its fields */
.form-horizontal .control-label {
    padding-top: 0px;
	  vertical-align: middle;
    float: none;
    display: inline-block;
	  margin-bottom: -15px;
}

.form-group .custom-elem-area {
    padding: 0;
    display: inline-table;
    vertical-align: middle;
    float: none;    
	  margin-bottom: -15px;
}    

.pbx_module_tabs .form-group {
    display: inline;
}

@media (max-width: 767px) {
  .form-horizontal .control-label  {
     margin-bottom: 0px;
	}
}

@media (min-width: 768px) {
  .col-sm-6 {
     padding-right: 1px;
	}
}

@media (min-width: 992px) {
  .col-md-5 {
     padding-right: 3px;
	   width: 38%;
	}
}

@media (min-width: 1200px) {
  .col-lg-3 {
     width: 29%;
	}
}

@media (min-width: 1450px) {
  .col-lg-3 {
     width: 25%;
	}
}

/*Align "Extension status" table*/
.table > thead > tr > th {
    vertical-align: middle;
    }
#extension-status-table > thead > tr > th.center.sorting_asc {
    padding-left: 14px;
    }
#extension-status-table > thead > tr > th.center.sorting_desc {
    padding-left: 14px;
    }
@media (max-width: 992px) {
table.dataTable thead .sorting_asc:after {
    display: inline;
    position: relative;
    left: 45%;
    bottom: 0px;
    vertical-align: middle;
    }
table.dataTable thead .sorting_desc:after {
    display: inline;
    position: relative;
    left: 45%;
    bottom: 0px;
    vertical-align: middle;
    }
}
@media (min-width: 992px) {
table.dataTable thead .sorting_asc:after {
    display: inline;
    position: relative;
    left: 30%;
    bottom: 0px;
    vertical-align: middle;
table.dataTable thead .sorting_desc:after {
    display: inline;
    position: relative;
    left: 30%;
    bottom: 0px;
    vertical-align: middle;
    }
}


