/*Dummy class for use in translation files to getting a selector of trunslated text*/
.dummy{}

/*Menu-Settings*/
#accessToModules > div > table > tbody > tr.treegrid-58.treegrid-collapsed > td > span:nth-child(4) > span {
	margin: 0px;
	}

/*Admin-User Profiles*/
#aside-navigation > li:nth-child(3) > a > span {
	margin-left: -9px
	}

/* Align functions name and its fields */
.form-horizontal .control-label {
    padding-top: 0px;
	  vertical-align: middle;
    float: none;
    display: inline-block;
	  margin-bottom: -15px;
}

.form-group .custom-elem-area {
    padding: 0;
    display: inline-table;
    vertical-align: middle;
    float: none;    
	  margin-bottom: -15px;
}    

.pbx_module_tabs .form-group {
    display: inline;
}

@media (max-width: 767px) {
  .form-horizontal .control-label  {
     margin-bottom: 0px;
	}
}

@media (min-width: 768px) {
  .col-sm-6 {
     padding-right: 1px;
	}
}

@media (min-width: 992px) {
  .col-md-5 {
     padding-right: 3px;
	   width: 38%;
	}
}

@media (min-width: 1200px) {
  .col-lg-3 {
     width: 29%;
	}
}

@media (min-width: 1450px) {
  .col-lg-3 {
     width: 25%;
	}
}
